@font-face {
   font-family: 'Droidiga';
   font-display: swap;
   src: url('file:///C:/Users/DRVNC/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-31_183950/fonts/Droidiga/font.otf');
}
